{% load filters %}
{% load gravatar %}

<div id="history_item_{{ item.id }}" class='row history-container infinite-scroll span8' data-id="{{ item.id }}">
    	<div id="history_item_{{ item.id }}_upper" class="upper" onClick="showHide('history_item_{{ item.id }}_lower');">
			<span class="pull-right author-container"> 
        	<span><a href="/users/{{ item.user.username }}"><img class="author-pic img-rounded" data-content="{{ item.user }}" src="{% gravatar_for_user item.user %}"/> </a></span>
			{% if item.one_item %}
				<span class='time-ago pointer date' data-content="For {{ item.first_item.humanize_time }}, on {{item.first_item.start_time}}" data-time-ago="{{item.first_item.start_time|date_fmt}}" data-timestamp="{{item.first_item.start_time|date_fmt}}"></span>
			{% else %}
				<span class='time-ago pointer date' data-content="Total time spent is {{ item.get_total_time }} on {{item.first_item.start_time}}" data-time-ago="{{item.first_item.start_time|date_fmt}}" data-timestamp="{{item.first_item.start_time|date_fmt}}""></span>
			{% endif %}
			</span>
			
			<span class="left">
        	<a href="{{ item.domain }}" target="_blank" class="cut-url pointer" data-content="{{ item.domain }}">
        	<img class="favicon" src="{{ item.favIconUrl }}"> {{ item.domain }} 
        	</a>
        	{% if item.one_item %}
        	 | <span class="cut-content pointer" data-content="{{ item.get_title}}"> 
                	{{ item.get_title|truncatechars:100 }} 
                	</span>
            {% else %}
            	<span class="expand-text">
            	Expand {{ item.num_items }} pages
            	</span>
            {% endif %}
			</span>
		</div>
		<div id="history_item_{{ item.id }}_lower" class="hidden">
	        {% for h_item in item.get_items %}
	        	<div id="history_item_{{ h_item.id }}_lower_item" class="lower-item">
	        		<span class="pull-right author-container"> 
		          	<span class='time-ago pointer date' data-content="For {{ h_item.humanize_time }}, on {{h_item.start_time}}" data-time-ago="{{h_item.start_time|date_fmt}}" data-timestamp="{{h_item.start_time|date_fmt}}"></span>
		        	</span>
		        	
	        		<span class="left">
		        	<a href="{{ h_item.url }}" target="_blank" class="cut-url pointer" data-content="{{ h_item.url }}">
		                	 {{ h_item.domain }} 
		           	</a> | <span class="cut-content pointer" data-content="{{ h_item.title}}"> 
		                	{{ h_item.title|truncatechars:100 }} 
		                	</span>	
		            </span>
	
		        </div>
	       {% endfor %}
	      </div>
    

</div>